.git
.github
.vscode
.idea
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/hot
.env
.env.*
tests
docker-compose.yml
fly.toml
render.yaml
*.md
